<launch>
  <master auto="start"/>
  <!-- Run the robot sdk interface -->
  <include file="$(find nav_config)/launch/base.launch" />

  <!-- Run the yd lidar lidar -->
  <!-- <include file="$(find roborts_bringup)/launch/lidar_yd.launch"/> -->
  <include file="$(find nav_config)/launch/rplidar_a3.launch"/>

  <!-- Run the slam gmapping -->
  <include file="$(find nav_config)/launch/slam_gmapping.xml"/>

  <!-- Publish static tf -->
  <include file="$(find nav_config)/launch/static_tf.launch" />

  <!-- Run the rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find roborts_bringup)/rviz/mapping.rviz" />

</launch>

